<article class="container">
    <div class="wrapper">
        <div class="inner-container">
            <span class="right-side-link"><img src="Content/images/right-section-link.png" /></span>
            <div data-header-error-directive data-message-text="headerMessage.messageText" data-show-message="headerMessage.showMessage" data-message-type="headerMessage.messageType"></div>
            <div class="login-top">
                <h3>Change Password</h3>
                <div class="banner">
                    <form id="RegisterForm" name="RegisterForm">
                        <div class="login-credentials">
                            <ul class="login-section">
                                <li>
                                    <label>Email Id</label>
                                    <label data-ng-bind="userCredentials.userId"></label>
                                </li>
                                <li>
                                    <label>Password*</label>
                                    <input type="password" name="" data-ng-model="userCredentials.password" required />
                                </li>
                                <li>
                                    <label>Confirm Password*</label>
                                    <input type="password" name="" data-ng-model="confirmPassword" required />
                                </li>

                            </ul>
                            <ul class="buttons">
                                <li><input type="submit" id="changePasswordSubmit" name="changePasswordSubmit" value="Change Password" class="primary-button" data-ng-click="changePassword()" /></li>
                            </ul>

                        </div>
                        <div class="help-section">
                            <h6>May I Help You?</h6>
                            <ul>                               
                                <li class="request-call">
                                    <a href="javascript:void(0)">
                                        <em></em>
                                        <span>Request a call or call us</span>
                                        <strong>800.999.6000</strong>
                                    </a>
                                </li>
                                <li class="service">
                                    <a href="javascript:void(0)">
                                        <em></em>
                                        <span>Any query or service request</span>
                                    </a>
                                </li>
                                <li class="assistance">
                                    <a href="javascript:void(0)">
                                        <em></em>
                                        <span>For any quick assistance do a Video Chat with us !</span>
                                    </a>
                                </li>
                                <li class="faq">
                                    <a href="javascript:void(0)">
                                        <em></em>
                                        <span>FAQs</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>
