<div data-backdrop="static">
    <div class="modal-header">
        <div data-header-error-directive data-show-message="headerMessage.showMessage" data-message-text="headerMessage.messageText " data-message-type="headerMessage.messageType"></div>
        <h3 class="modal-title">Forgot Password</h3>
    </div>
    <div class="modal-body">
        <label>User ID</label>
        <input type="text" data-ng-model="userID" />
        <p class="forgot-password-text">* An Email will be sent to above specified UserId to process further for change password action. Please write your correct UserId.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" data-ng-hide="hideSubmit" data-ng-click="submit()">Submit</button>
        <button class="btn btn-warning" type="button" data-ng-click="close()">Close</button>
    </div>
</div>

