<ul class="right-section" id="sortable">
    <!--offers start here -->
    <li class="offering content-block ui-state-default">
        <h3>
            <strong>My Offers</strong>
            <ul class="setting-option">
                <li class="collapse-arrow"></li>
                <li class="setting-link"></li>
                <ul class="setting-list">
                    <li><a href="javascript:void(0)">Don't Show Offers</a></li>
                </ul>
            </ul>
        </h3>
        <div class="hide-section offer-list">
            <ul class="bxslider">               
                <li>
                    <span><img src="Content/images/offer-2.png" alt="offer" title="offer" /></span>
                    <div class="caption">
                        <div class="rate"> <strong>small medium</strong> <span>large cap</span> <em></em> </div>
                        <a href="javascript:void(0)" class="apply">Invest</a>
                    </div>
                </li>
                <li>
                    <span><img src="Content/images/offer-3.png" alt="offer-1" title="offer-1" /></span>
                    <div class="caption">
                        <div class="rate"> <strong>24 X 7</strong> <span>@</span> <em>365</em> </div>
                        <a href="javascript:void(0)" class="apply">Online Help</a>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>