<article class="container">
    <div class="wrapper">
        <div class="inner-container">

            <img src="Content/images/alert-icon.png" style="margin-top:8px;width:12px;height:12px" />
            <label style="margin-top:8px;font-size:14px">Session Expired</label>
            <a href="#/" style="text-decoration: underline; float: right; padding-top: 10px; font-size: 14px">Login</a>
            <h3 style="color:red;margin:150px 0 150px 0;text-align:center"> You attempted to perform an operation that you lack authorization for !!</h3>
        </div>
    </div>
</article>
