<article class="wrapper">
    <article class="open-detail">
        <div class="profile-detail">
            <figure class="profile-pic"> <img src="Content/images/profile-pic.png" alt="profile-pic" title="profile-pic" /> </figure>
            <div class="user-detail"> <span>Welcome</span> <strong data-ng-bind="welcomeUserName"></strong> <a href="javascript:void(0)"><em>My Profile</em></a> </div>
        </div>
        <ul class="notifications">
            <li>
                <a href="transfer-step-1.html">
                    <figure> <img src="Content/images/transaction-icon.png" alt="Global" title="Global" /> </figure>
                    <span>Global</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <figure> <img src="Content/images/alert-icon.png" alt="Alert" title="Alert" /> </figure>
                    <span>5 Alerts</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <figure> <img src="Content/images/mail-icon.png" alt="Mail" title="Mail" /> </figure>
                    <span>1 Email</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <figure> <img src="Content/images/other-icon.png" alt="Others" title="Others" /> </figure>
                    <span>Others</span>
                </a>
            </li>
            </a>
            </li>
        </ul>
        <ul class="login-detail">
            <!--<li> <span>Last Login</span> <span>16/09/14,  04:13:22</span> </li>
            <li> <span>Last Failed Login</span> <span>10/09/14,  04:13:22</span> </li>-->
        </ul>
        <ul class="login-detail">
            <li><a href="" data-ng-click="logOut()"><strong style="color:#ff6a00">Logout</strong></a></li>
        </ul>
    </article>
</article>